# Markdown Examples

# Magic Commands

# R code

## Data available in R

In [15]:
data()

### Cars

In [36]:
data(cars)
head(cars)

  speed dist
1 4      2
2 4     10
3 7      4
4 7     22
5 8     16
6 9     10

### Titanic data

In [30]:
install.packages("titanic")
library(titanic)

Installing package into ‘/home/abezuglov/R/x86_64-pc-linux-gnu-library/3.4’
(as ‘lib’ is unspecified)

In [32]:
head(titanic_train,6)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

In [14]:
data(mtcars)
# Print the first 6 rows
head(mtcars, 6)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1